<div class="App">
  <app-layout-header></app-layout-header>
  <main class="App__main">
    <router-outlet></router-outlet>
  </main>
  <app-layout-footer></app-layout-footer>
  <app-message-box></app-message-box>
</div>
