<header class="Header">
  <div class="Header__wrapper">
    <a routerLink="/" class="Header__logo">NestMicroservice</a>
    <div *ngIf="authStore.user" class="Header__buttons">
      <div>Hi {{authStore.user.login}}!</div>
      <a class="Header__button" (click)="logout()">logout</a>
    </div>
    <div *ngIf="!authStore.user" class="Header__buttons">
      <a routerLink="/login" class="Header__button">login</a>
      <a routerLink="/register" class="Header__button">register</a>
    </div>
  </div>
</header>
