.Header {
  background-color: rgba(var(--color-primary), 1);

  &__wrapper {
    max-width: var(--breakpoint-desktop);
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: rgba(var(--color-red), 1);
    -webkit-text-stroke: 0.05em rgba(var(--color-base), 1);
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__button {
    padding: 0.7rem 2rem;
    border-radius: 7px;
    background-color: rgba(var(--color-secondary), 1);
    font-size: 1rem;
    font-weight: 700;
    color: rgba(var(--color-base), 1);
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: rgba(var(--color-secondary), 0.6);
    }
  }
}
