<app-page>
  <app-title [position]="titlePosition.CENTER">Register</app-title>
  <form (ngSubmit)="onSubmit()" class="Register__form">
    <app-input
      id="login"
      name="login"
      type="text"
      [required]="true"
      [value]="form['login']"
      (valueUpdate)="updateForm($event, 'login')"
    >
      Login
    </app-input>
    <app-input
      id="email"
      name="email"
      type="email"
      [required]="true"
      [value]="form['email']"
      (valueUpdate)="updateForm($event, 'email')"
    >
      Email
    </app-input>
    <app-input
      id="password"
      name="password"
      type="password"
      [required]="true"
      [value]="form['password']"
      (valueUpdate)="updateForm($event, 'password')"
    >
      Password
    </app-input>
    <app-input
      id="passwordConfirm"
      name="passwordConfirm"
      type="password"
      [required]="true"
      [value]="form['passwordConfirm']"
      (valueUpdate)="updateForm($event, 'passwordConfirm')"
    >
      Confirm password
    </app-input>
    <div class="Register__actions">
      <app-button type="submit">Register</app-button>
    </div>
  </form>
</app-page>
