.Input {
  padding: 0.8rem 0 0rem;

  &__label {
    position: absolute;
    z-index: 1;
    width: max-content;
    font-size: 0.9rem;
    font-weight: 600;
    transform: translate(1rem, -1.7rem);
    background-color: rgba(var(--color-base), 1);
    transition: 0.2s;
    pointer-events: none;
  }

  &__input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid rgba(var(--color-black), 1);
    border-radius: 5px;
    outline: none;

    &:focus {
      ~ .Input__label {
        transform: translate(1rem, -2.9rem);
      }
    }

    &--notEmpty {
      ~ .Input__label {
        transform: translate(1rem, -2.9rem);
      }
    }
  }
}
