<div class="Input">
  <input
    id="{{id}}"
    name="{{name}}"
    type="{{type}}"
    [required]="required"
    [(ngModel)]="value"
    (ngModelChange)="updateValue($event)"
    class="Input__input"
    [class.Input__input--notEmpty]="isNotEmpty"
  />
  <div class="Input__label">
    <label for="{{id}}">
      <ng-content></ng-content>
    </label>
  </div>
</div>
