<ul class="MessageBox">
  <li
    *ngFor="let item of messages;"
    class="MessageBox__item"
    [class.MessageBox__item--info]="item.type === 'info'"
    [class.MessageBox__item--error]="item.type === 'error'"
    [class.MessageBox__item--success]="item.type === 'success'"
  >
    <div class="MessageBox__text">
      {{ item.message }}
    </div>
    <div class="MessageBox__proggresContainer">
      <div class="MessageBox__proggresBar"></div>
    </div>
  </li>
</ul>
