.MessageBox {
  position: fixed;
  z-index: 999;
  bottom: 1rem;
  left: 1rem;
  width: 30rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__item {
    position: relative;
    width: 500px;
    border-radius: 6px;
    overflow: hidden;

    &--info {
      background-color: rgb(30,144,255);
    }

    &--error {
      background-color: rgb(208, 52, 44);
    }

    &--success {
      background-color: rgb(25, 135, 84);
    }
  }

  &__text {
    padding: 1rem 1rem;
    color: rgba(var(--color-base), 1);
    font-weight: 600;
  }

  &__proggresContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.3rem;
    overflow: hidden;
    background-color: transparent;
  }

  &__proggresBar {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    animation: progressAnimation 3s linear;
  }

  @keyframes progressAnimation {
    0% {
      right: 0%;
    }
    100% {
      right: 100%;
    }
  }
}

