.Button {
  width: 100%;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.05rem;
  font-weight: 600;
  color: rgba(var(--color-base), 1);
  background-color: rgba(var(--color-secondary), 1);
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
