<app-page>
  <app-title [position]="titlePosition.CENTER">Login</app-title>
  <form (ngSubmit)="onSubmit()" class="Login__form">
    <app-input
      id="login"
      name="login"
      type="text"
      [required]="true"
      [value]="form['login']"
      (valueUpdate)="updateForm($event, 'login')"
    >
      Login
    </app-input>
    <app-input
      id="password"
      name="password"
      type="password"
      [required]="true"
      [value]="form['password']"
      (valueUpdate)="updateForm($event, 'password')"
    >
      Password
    </app-input>
    <div class="Login__actions">
      <app-button type="submit">Login</app-button>
    </div>
  </form>
</app-page>
