@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;

  --color-base: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-primary: 238, 153, 142;
  --color-secondary: 134, 170, 210;
  --color-tertiary: 42, 71, 94;
  --color-text: 199, 213, 224;

  --color-red: 233, 17, 51;
  --color-green: 152, 251, 152;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
